<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {{!-- <div class="container"> --}}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Dashboard
                </a>
            </li>
            {{!-- <li class="nav-item">
                    <a class="nav-link" href="#"> 416 823 8812</a>
                </li> --}}
        </ul>
        <div class="social">
            <a href="">
                <i class="fab fa-twitter-square"></i>
            </a>
            <a href="">
                <i class="fab fa-facebook-square"></i>
            </a>
            <a href="">
                <i class="fab fa-google-plus-square"></i>
            </a>
            <a href="">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
    </div>
    {{!-- </div> --}}
</nav>

<section class="itemMain">
    <nav id="sidebar" class="toggled">
        <!-- Sidebar Links -->
        <ul class="menuItems">
            <li>
                <a href="recipe.html">
                    <i class="fas fa-utensils"></i> Recipes</a>

            </li>
            <li>
                <a href="inspire.html">
                    <i class="far fa-lightbulb"></i> Get Inspired</a>

            </li>

            <li>
                <a href="#">
                    <i class="fas fa-birthday-cake"></i> TBD</a>

            </li>
        </ul>
    </nav>


    <section class="itemInnerMain">
        <div class="container">
            <div class="row">
                <div class="col-md-6 doctorSection">
                    <div class="pillSection">
                        <h1>Please click a button to view your doctors</h1>
                        <ul class="nav nav-pills nav-fill">
                            {{#each doci}}
                            <li class="nav-item" data-name="{{this}}">
                                <a class="nav-link" href="#">{{this}}</a>
                            </li>
                            {{/each}}
                        </ul>
                        {{!-- <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                        </ul> --}}
                    </div>
                    {{#each doctors}}
                        <a href="/best-doctors/on/toronto/family-gp/" class="home-specialties-name">
                            {{!-- <h3></h3> --}}
                            {{!-- <small>View All</small> --}}
                        </a>
                        <div class="individDoctor" data-name="{{this.specialty}}">
                            <a href="/doctor-ratings/45045/Dr-Gary-Weinstein-Toronto-ON.html" class="search-item-doctor-link">
                                <img class="doctor-image" src="//www.ratemds.com/static/img/doctors/doctor-male.png_thumbs/v1_at_77x77.jpg" alt="Dr. Gary Weinstein">
                                <h4 class="search-item-doctor-name">{{this.name}}</h4>
                                <p>{{this.gender}}</p>
                            </a>
                            <span class="star-rating" title="{{this.rating}}">
                                <span class="stars">
                                    <span class="starhalf"></span>
                                    <span class="starselected"></span>
                                    <span class="starselected"></span>
                                    <span class="starselected"></span>
                                    <span class="starselected"></span>
                                </span>
                            </span>
                            <div class="star-rating-count">
                                117 reviews
                            </div>
                        </div>
                    {{/each}}
                </div>
                <div class="col-md-6">
                    <h1>test</h2>
                </div>
            </div>
        </div>
    </section>
</section>

<script src="js/dashview.js" type="text/javascript"></script>